 * {
     margin: 15;
     padding: 10;
     box-sizing: border-box;
        }

body {
    background-color:rgb(235, 191, 206);
    padding: 20px;
}

.my-header {
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #070707;
}

.para1 {
    font-size: 15px;
    line-height: 1.6;
    max-width: 800px;
    border:4px dotted #270d1d1f;
    padding: 5px;
}

.My-photo {
    width: 260px;
    height: 300px;
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cellphone-number, .email {
    background-color: rgb(252, 152, 169);
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #270d1d;
}

.skills{
    list-style: none;
    padding: 0;
}

.skills li{
    background-color: rgb(252, 152, 169);
    border:2px dotted #270d1d1f;
    padding: 10px;
    
}
